<!-- templates/registration/login.html -->
{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<style>

  input{
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      box-sizing: border-box;
  }
  
  label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .login h3{
      text-align: center;
  }
  
  .login button{
      width: 100%;
      height: auto;
      padding: 12px 20px;
      margin: 8px 0;
      font-size: 93%;
  }

</style>
  <h2>Login</h2>
  <div class="login">
  <form method="post" action="{% url 'login' %}" class="login">
    {% for message in messages %}
    {{message}}
    {% endfor %}
    {% csrf_token %}
    <label for="username">Username</label>
    <input type="text" name="username" id="username" placeholder="Enter Username">
    <label for="password">Password</label>
    <input type="password" name="password" id="password" placeholder="Enter Password"><br><br><br>
    
    <button type="submit">Login</button>
  </form>
</div>
  <p>Don't have an account? <a href="{% url 'signup' %}">Sign up here</a>.</p>
{% endblock %}
