body {
    background-color: #f8f9fa;
}

.navbar {
    margin-bottom: 20px;
}

.container {
    padding: 20px;
}

.list-group-item {
    cursor: pointer;
}

h2 {
    color: #343a40;
}

.form-container label {
    margin-bottom: 5px;
    font-weight: bold;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="password"],
.form-container textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.form-container button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-container button:hover {
    background-color: #0056b3;
}
