<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>{% block title %}My Webinar Site{% endblock %}</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'webinar_list' %}">Webinars</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">

                    {% if user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link" href="#">Welcome, {{ user.username }}</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'signup' %}">Sign Up</a></li>
                    {% endif %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'blog_list' %}">Blog</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'webinar_list' %}">Webinars</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'search' %}">Search</a></li>
                    {% if user.is_staff %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'staff_dashboard' %}">Dashboard</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>
